flows.json
[{"id":"fc1bcdee.b56d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd32fbc4.2364e8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b4b158c.7bad1a","type":"mqtt-broker","z":"","name":"","broker":"mqtt://cafbc6d8:bdf22c4fae433f9e@broker.shiftr.io","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5208bd1.1e3ae8","type":"ui_tab","z":"","name":"Display","icon":"dashboard","disabled":false,"hidden":false},{"id":"3423b7c2.2969f8","type":"ui_group","z":"","name":"GPS","tab":"a5208bd1.1e3ae8","order":1,"disp":true,"width":"6","collapse":true},{"id":"e9dc37b2.19c198","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Maquina FF011C000","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8071013e.256fc","type":"ui_group","z":"","name":"Menu_1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"86615c79.8b29","type":"ui_group","z":"","name":"Horas de funcionamiento","tab":"a5208bd1.1e3ae8","order":2,"disp":true,"width":"6","collapse":true},{"id":"49f74d1e.2c3b24","type":"ui_group","z":"","name":"Diferencia de presion","tab":"a5208bd1.1e3ae8","order":3,"disp":true,"width":"6","collapse":true},{"id":"3b34946.c3ee86c","type":"ui_group","z":"","name":"Presion de succion","tab":"a5208bd1.1e3ae8","order":4,"disp":true,"width":"6","collapse":true},{"id":"119452aa.7b38ed","type":"ui_group","z":"","name":"Presion de descarga","tab":"a5208bd1.1e3ae8","order":5,"disp":true,"width":"6","collapse":true},{"id":"6d3b47cd.1a3ce8","type":"ui_group","z":"","name":"Estado","tab":"a5208bd1.1e3ae8","order":6,"disp":false,"width":"6","collapse":false},{"id":"93c8f72d.294638","type":"ui_group","z":"","name":"Speed","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"f1e3a50d.2655f8","type":"ui_group","z":"","name":"Temperature","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"1c584efd.ca0391","type":"ui_group","z":"","name":"Device ID","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"610d6f1a.0cd6f","type":"ui_group","z":"","name":"Map","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"b8745713.da15c8","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"548093ca.2e18dc","type":"mqtt-broker","z":"","name":"Server","broker":"mqtt://fb033abd:e2ebc570ab73e0b5@broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcde0a43.168e18","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"42a5686f.756d98","type":"ui_group","z":"","name":"Home","tab":"","disp":true,"width":"6","collapse":false},{"id":"7c2b7fc5.247a","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59fc80cf.8b13f","type":"mqtt-broker","z":"","name":"","broker":"mqtt://cafbc6d8:bdf22c4fae433f9e@broker.shiftr.io","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57c1dae4.d4ac44","type":"ui_tab","z":"","name":"Display","icon":"dashboard","disabled":false,"hidden":false},{"id":"95ced138.51495","type":"ui_group","z":"","name":"GPS","tab":"57c1dae4.d4ac44","order":1,"disp":true,"width":"6","collapse":true},{"id":"a88f792.04b1c88","type":"ui_group","z":"","name":"Menu_1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3103675d.591948","type":"ui_group","z":"","name":"Horas de funcionamiento","tab":"57c1dae4.d4ac44","order":2,"disp":true,"width":"6","collapse":true},{"id":"d1d633d4.e9a77","type":"ui_group","z":"","name":"Diferencia de presion","tab":"57c1dae4.d4ac44","order":3,"disp":true,"width":"6","collapse":true},{"id":"29836793.830318","type":"ui_group","z":"","name":"Presion de succion","tab":"57c1dae4.d4ac44","order":4,"disp":true,"width":"6","collapse":true},{"id":"a40d60b9.0c845","type":"ui_group","z":"","name":"Presion de descarga","tab":"57c1dae4.d4ac44","order":5,"disp":true,"width":"6","collapse":true},{"id":"2efbd747.bc3128","type":"ui_group","z":"","name":"Estado","tab":"57c1dae4.d4ac44","order":6,"disp":false,"width":"6","collapse":false},{"id":"4414359e.8179ec","type":"ui_group","z":"","name":"Speed","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"9d1b2ff0.4cd57","type":"ui_group","z":"","name":"Temperature","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"b41a98da.77c178","type":"ui_group","z":"","name":"Device ID","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"476880dd.8ade","type":"ui_group","z":"","name":"Map","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"4dc5d77e.21a7c8","type":"ui_group","z":"fc1bcdee.b56d1","name":"Default","tab":"","disp":true,"width":"6"},{"id":"9acf153e.dcb938","type":"ibmiot","z":"fc1bcdee.b56d1","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8fe7f0ba.a328c","type":"mqtt in","z":"fc1bcdee.b56d1","name":"","topic":"/gps","qos":"2","datatype":"auto","broker":"59fc80cf.8b13f","x":90,"y":140,"wires":[["e2b81ea5.b1cb2","853d4778.2d26e8"]]},{"id":"6290a051.0dc33","type":"function","z":"fc1bcdee.b56d1","name":"funcion","func":"var id = msg.payload.i;\nvar state = msg.payload.g[0];\nvar lat = msg.payload.g[1];\nvar lon = msg.payload.g[2];\n\n\nif (state === 0)\n{\n    state = \"En marcha\";\n}\n\nif (state === 1)\n{\n    state = \"Parado\";\n}\n\nif (state === 2)\n{\n    state = \"Error\";\n}\n\nmsg.payload = {name:id, lat:lat, lon:lon,estado : state};\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":140,"wires":[["9b8b5f17.c869f","93f5d594.ba5278","7a66fab6.99a694"]]},{"id":"9b8b5f17.c869f","type":"worldmap-tracks","z":"fc1bcdee.b56d1","name":"","depth":"10","layer":"single","x":1050,"y":100,"wires":[["93f5d594.ba5278"]]},{"id":"ab68e3de.442ec","type":"ui_template","z":"fc1bcdee.b56d1","group":"3103675d.591948","name":"","order":5,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":1140,"wires":[[]]},{"id":"cb0d2df8.12059","type":"template","z":"fc1bcdee.b56d1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=300px ></iframe>","x":310,"y":1140,"wires":[["ab68e3de.442ec"]]},{"id":"b141d3a2.97194","type":"inject","z":"fc1bcdee.b56d1","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":1140,"wires":[["cb0d2df8.12059"]]},{"id":"93f5d594.ba5278","type":"worldmap","z":"fc1bcdee.b56d1","name":"Mapa","lat":"-34.6729089","lon":"-58.335208","zoom":"13","layer":"OSM grey","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1050,"y":140,"wires":[]},{"id":"e2b81ea5.b1cb2","type":"json","z":"fc1bcdee.b56d1","name":"","property":"payload","action":"obj","pretty":false,"x":260,"y":140,"wires":[["306dfa3f.e23a06"]]},{"id":"306dfa3f.e23a06","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":430,"y":140,"wires":[["3596b41d.f61e8c"]]},{"id":"3596b41d.f61e8c","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"i","vt":"str"},{"t":"eq","v":"g","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":140,"wires":[["6647753f.25ef6c"],["3359a179.a5cd9e","6647753f.25ef6c"]]},{"id":"6097e416.b8621c","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":810,"y":640,"wires":[["6ede55d4.62e02c"]]},{"id":"6ede55d4.62e02c","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":950,"y":660,"wires":[["8e65886d.71a248"],["8859bc4d.cdcff","f7d5c91d.c6fbf8"],["170b6b22.c43775"]]},{"id":"8903df14.80399","type":"ui_text","z":"fc1bcdee.b56d1","group":"d1d633d4.e9a77","order":1,"width":0,"height":0,"name":"","label":"Maximo","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":660,"wires":[]},{"id":"e9bd39b5.e5f328","type":"ui_text","z":"fc1bcdee.b56d1","group":"d1d633d4.e9a77","order":2,"width":0,"height":0,"name":"","label":"Promedio","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":700,"wires":[]},{"id":"474fc650.9ad148","type":"ui_text","z":"fc1bcdee.b56d1","group":"d1d633d4.e9a77","order":3,"width":0,"height":0,"name":"","label":"Minimo","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":740,"wires":[]},{"id":"8859bc4d.cdcff","type":"ui_gauge","z":"fc1bcdee.b56d1","name":"","group":"d1d633d4.e9a77","order":5,"width":0,"height":0,"gtype":"gage","title":"Diferencia de presion promedio","label":"[BAR]","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":780,"wires":[]},{"id":"3bf7928a.163cae","type":"mqtt in","z":"fc1bcdee.b56d1","name":"","topic":"/times_1","qos":"2","datatype":"auto","broker":"59fc80cf.8b13f","x":100,"y":380,"wires":[["f9909848.ca9b18"]]},{"id":"f9909848.ca9b18","type":"json","z":"fc1bcdee.b56d1","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":380,"wires":[["fa424a6d.caaa68"]]},{"id":"fa424a6d.caaa68","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":380,"wires":[["2ca6a0ed.e6aef"]]},{"id":"2ca6a0ed.e6aef","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"i","vt":"str"},{"t":"eq","v":"h","vt":"str"},{"t":"eq","v":"s","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":380,"wires":[[],["76145326.c9ad8c"],["4f5a10a7.32f94"]]},{"id":"1932b66c.d14f5a","type":"ui_led","z":"fc1bcdee.b56d1","group":"3103675d.591948","order":4,"width":"0","height":"0","label":"Estado","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"num"},{"color":"red","value":"1","valueType":"num"},{"color":"#fdb82f","value":"2","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":890,"y":80,"wires":[]},{"id":"3359a179.a5cd9e","type":"function","z":"fc1bcdee.b56d1","name":"funcion","func":"msg.payload = msg.payload[0];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["1932b66c.d14f5a"]]},{"id":"6647753f.25ef6c","type":"join","z":"fc1bcdee.b56d1","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":140,"wires":[["6290a051.0dc33"]]},{"id":"7a66fab6.99a694","type":"debug","z":"fc1bcdee.b56d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":200,"wires":[]},{"id":"3f658b4e.ca1254","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":950,"y":340,"wires":[["28b599ef.990306"],["879c9e9f.abe81"],["b6b06c33.7bc97"]]},{"id":"28b599ef.990306","type":"ui_text","z":"fc1bcdee.b56d1","group":"3103675d.591948","order":1,"width":"0","height":"0","name":"","label":"Marcha","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":260,"wires":[]},{"id":"879c9e9f.abe81","type":"ui_text","z":"fc1bcdee.b56d1","group":"3103675d.591948","order":2,"width":0,"height":0,"name":"","label":"Parada","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":340,"wires":[]},{"id":"b6b06c33.7bc97","type":"ui_text","z":"fc1bcdee.b56d1","group":"3103675d.591948","order":3,"width":0,"height":0,"name":"","label":"Error","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":380,"wires":[]},{"id":"76145326.c9ad8c","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":810,"y":340,"wires":[["3f658b4e.ca1254"]]},{"id":"8e65886d.71a248","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":660,"wires":[["8903df14.80399","9520da07.49d478"]]},{"id":"f7d5c91d.c6fbf8","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":700,"wires":[["e9bd39b5.e5f328","9520da07.49d478"]]},{"id":"170b6b22.c43775","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":740,"wires":[["474fc650.9ad148","9520da07.49d478"]]},{"id":"9520da07.49d478","type":"function","z":"fc1bcdee.b56d1","name":"Leyenda","func":"var indice = msg.parts.index;\n\nif (indice === 0)\n{\n    msg.topic = \"Maximo\"\n}\n\nif (indice === 1)\n{\n    msg.topic = \"Promedio\"\n}\n\n\nif (indice === 2)\n{\n    msg.topic = \"Minimo\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":620,"wires":[["1d5017e3.617458"]]},{"id":"1d5017e3.617458","type":"ui_chart","z":"fc1bcdee.b56d1","name":"","group":"d1d633d4.e9a77","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"hhhhh","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1470,"y":620,"wires":[[]]},{"id":"37430554.b7a30a","type":"function","z":"fc1bcdee.b56d1","name":"Leyenda","func":"var indice = msg.parts.index;\n\nif (indice === 0)\n{\n    msg.topic = \"Maximo\"\n}\n\nif (indice === 1)\n{\n    msg.topic = \"Promedio\"\n}\n\n\nif (indice === 2)\n{\n    msg.topic = \"Minimo\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":400,"wires":[["4e60f6b2.53c9e8"]]},{"id":"b531d508.8e7568","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":440,"wires":[["37430554.b7a30a","b3fcfa85.36c998"]]},{"id":"e458eeae.9099a","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":480,"wires":[["37430554.b7a30a","bed3f185.e6399"]]},{"id":"2f406efd.23bb32","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":520,"wires":[["37430554.b7a30a","f883d9eb.6124c8"]]},{"id":"335b59f1.541ce6","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":440,"wires":[["b531d508.8e7568"],["e458eeae.9099a","ee32314a.ac3d1"],["2f406efd.23bb32"]]},{"id":"4f5a10a7.32f94","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":770,"y":420,"wires":[["335b59f1.541ce6"]]},{"id":"bed3f185.e6399","type":"ui_text","z":"fc1bcdee.b56d1","group":"29836793.830318","order":1,"width":0,"height":0,"name":"","label":"Promedio","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":480,"wires":[]},{"id":"b3fcfa85.36c998","type":"ui_text","z":"fc1bcdee.b56d1","group":"29836793.830318","order":2,"width":0,"height":0,"name":"","label":"Maximo","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":440,"wires":[]},{"id":"f883d9eb.6124c8","type":"ui_text","z":"fc1bcdee.b56d1","group":"29836793.830318","order":3,"width":0,"height":0,"name":"","label":"Minimo","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":520,"wires":[]},{"id":"ee32314a.ac3d1","type":"ui_gauge","z":"fc1bcdee.b56d1","name":"","group":"29836793.830318","order":0,"width":0,"height":0,"gtype":"gage","title":"Presion de succion promedio","label":"[BARg]","format":"{{value}}","min":0,"max":"24","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":560,"wires":[]},{"id":"4e60f6b2.53c9e8","type":"ui_chart","z":"fc1bcdee.b56d1","name":"","group":"29836793.830318","order":23,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":400,"wires":[[]]},{"id":"7d055bbb.329394","type":"ui_text","z":"fc1bcdee.b56d1","group":"a40d60b9.0c845","order":1,"width":0,"height":0,"name":"","label":"Promedio","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":920,"wires":[]},{"id":"8d7eaf7c.a8b9","type":"ui_text","z":"fc1bcdee.b56d1","group":"a40d60b9.0c845","order":2,"width":0,"height":0,"name":"","label":"Maximo","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":880,"wires":[]},{"id":"bb47b896.bd20d8","type":"ui_text","z":"fc1bcdee.b56d1","group":"a40d60b9.0c845","order":3,"width":0,"height":0,"name":"","label":"Minimo","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":960,"wires":[]},{"id":"1a05a259.5f575e","type":"ui_gauge","z":"fc1bcdee.b56d1","name":"","group":"a40d60b9.0c845","order":0,"width":0,"height":0,"gtype":"gage","title":"Presion de descarga promedio","label":"[BARg]","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1000,"wires":[]},{"id":"e3b63e86.05339","type":"ui_chart","z":"fc1bcdee.b56d1","name":"","group":"a40d60b9.0c845","order":23,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1530,"y":840,"wires":[[]]},{"id":"a83972a3.6cebc","type":"function","z":"fc1bcdee.b56d1","name":"Leyenda","func":"var indice = msg.parts.index;\n\nif (indice === 0)\n{\n    msg.topic = \"Maximo\"\n}\n\nif (indice === 1)\n{\n    msg.topic = \"Promedio\"\n}\n\n\nif (indice === 2)\n{\n    msg.topic = \"Minimo\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":840,"wires":[["e3b63e86.05339"]]},{"id":"d519533d.575c9","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":880,"wires":[["a83972a3.6cebc","8d7eaf7c.a8b9"]]},{"id":"89a093e9.77791","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":920,"wires":[["a83972a3.6cebc","7d055bbb.329394"]]},{"id":"733e205f.9c5fc","type":"function","z":"fc1bcdee.b56d1","name":"toString","func":"\nmsg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":960,"wires":[["a83972a3.6cebc","bb47b896.bd20d8"]]},{"id":"2a94f1a0.e9e98e","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":880,"wires":[["d519533d.575c9"],["89a093e9.77791","1a05a259.5f575e"],["733e205f.9c5fc"]]},{"id":"50ed0b46.3f63a4","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":850,"y":860,"wires":[["2a94f1a0.e9e98e"]]},{"id":"853d4778.2d26e8","type":"debug","z":"fc1bcdee.b56d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":200,"wires":[]},{"id":"d2d6b80c.3802c8","type":"mqtt in","z":"fc1bcdee.b56d1","name":"","topic":"/times_2","qos":"2","datatype":"auto","broker":"59fc80cf.8b13f","x":100,"y":700,"wires":[["131102ae.0d555d"]]},{"id":"131102ae.0d555d","type":"json","z":"fc1bcdee.b56d1","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":700,"wires":[["f2827466.98d9c8"]]},{"id":"f2827466.98d9c8","type":"split","z":"fc1bcdee.b56d1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":700,"wires":[["e1465a01.c97218"]]},{"id":"e1465a01.c97218","type":"switch","z":"fc1bcdee.b56d1","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"i","vt":"str"},{"t":"eq","v":"p","vt":"str"},{"t":"eq","v":"d","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":700,"wires":[[],["6097e416.b8621c"],["50ed0b46.3f63a4"]]}]